body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #857d7d;
    color: #222;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark {
    background-color: #121212;
    color: #f1f1f1;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .font-controls button {
    margin: 0 5px;
  }

  .font-controls span {
    margin-left: 260px;
    font-weight: bold;
  }
  
  #quote-box {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    min-height: 100px;
    margin-bottom: 20px;
    font-family: cursive;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #5656cb;
    border-radius: 10px;
    border: none;
  }
  #category{
    font-weight: bolder;
    font-size: 15px;
    background-color: #5656cb;
  }
  #decrease-font{
    font-weight: bolder;
    font-size: 15px;
    background-color: #5656cb;
    border: none;
    border-radius: 6px;
  }
  #increase-font{
    font-weight: bolder;
    font-size: 15px;
    background-color: #5656cb;
    border: none;
    border-radius: 6px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slider:before {
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  @media (max-width: 500px) {
    .controls {
      flex-direction: column;
      align-items: stretch;
    }
  
    .font-controls {
      margin: 10px 0;
    }
  }
  